body  {
    font-family: 'Roboto', sans-serif;
}

.video-remote {
    position: absolute;
    bottom: 10px;
    right: 10px;
    line-height: 0;
}

.video-remote > video {
    width: 400px;
}

.video-local {
    position: absolute;
    bottom: 10px;
    right: 10px;
    line-height: 0;
}

.video-local > video {
    width: 100px;
}